/*   Theo Brodén   */
body {
    height: 100vh;
    background-color: #fff;
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 80px 80px auto 70px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer"
    ;
}

header {

}

h1 {
	font-size: 4em;
	font-family: monospace, serif;
    
}



